.modal-background {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgba(171, 177, 184, 0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
}

.event-show-div {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #abb1b8;
    border-radius: 5px;
    box-sizing: content-box;
    padding: 50px;
    margin: auto;
    width: 700px;
    height: 500px;
}

.event-show-div h1 {
    font-size: 24px;
    font-weight: 600;
    color: #51a3fd;
    margin-bottom: 10px;
}

.event-img-map {
    display: flex;
    justify-content: space-between;
}

.event-img {
    height: 300px;
    width: 350px;
    display: flex;
    align-items: center;
}

.event-img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.event-map {
    border: 1px solid black;
}

.event-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.event-buttons button {
    border: none;
    background-color: #51a3fd;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.event-buttons button:hover {
    cursor: pointer;
}