.nav-bar-div {
    height: 60px;
    box-sizing: border-box;
    background-color: #51a3fd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 3px 6px -6px black;
}

.nav-logo {
    height: 50px;
    width: 50px;
    padding: 5px;
    padding-left: 20px;
}

.drop-down {
    position: relative;
}
.menu-icon {
    height: 40px;
    width: 40px;
    padding: 10px;
    padding-right: 20px;
}

.menu-icon:hover + .drop-down-content { 
    display: block;
}

.drop-down-content:hover {
    display: block;
}

.drop-down-content {
    border-radius: 5px;
    background-color: #e3e8ed;
    position: absolute;
    right: 20px;
    top: 50px;
    width: 180px;
    display: none;
    z-index: 2;
}

.drop-down-content a {
    text-decoration: none;
    color: #3074c0;
    font-weight: 500;
}

.login-signup {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.login-signup a {
    background-color: whitesmoke;
    border-radius: 15px;
    display: block;
    height: 30px;
    width: 75px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    color: #51a3fd;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
}

#login-button {
    background-color: #51a3fd;
    color: white;
    border: 1px solid white;
}

.nav-bar-div li {
    color: #3074c0;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

.nav-bar-div ul {
    padding: 10px;
}

.nav-bar-div li:hover {
    color: #51a3fd;
    text-shadow: 1px 1px #abb1b8;
    cursor: pointer;
}

.drop-down-content a:hover {
    color: #51a3fd;
    text-shadow: 1px 1px #abb1b8;
}
