.modal-background {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(171, 177, 184, 0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
}

.tabs-div {
    width: 60%;
    height: 40px;
    display: flex;
    margin-top: auto;
    border-radius: 5px 5px 0 0;
}

.tabs-div button {
    width: 25%;
    background-color: #51A3FD;
    border: none;
    border-top: 1px solid #abb1b8;
    border-left: 1px solid #abb1b8;
    border-right: 1px solid #abb1b8;
    box-sizing: content-box;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

#current-tab {
    background-color: white;
    color: #51a3fd;
}

.preferences-div {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #abb1b8;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: auto;
    width: 60%;
    height: 500px;
}

.preferences-div h1 {
  font-size: 18px;
  font-weight: 500;
}

.preferences-boxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0 40px 80px;
  width: 80%;
  border-top: 3px double #51A3FD;

}

.preferences-boxes input {
  margin: 20px 0 0 20px;
  padding: 0 0 10px 0;
}

.preferences-boxes label {
  padding: 0 10px 0 10px;
}

.preferences-button {
  background-color: #51A3FD;
  width: 120px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}
